* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#DBCDC6;
}
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;

}

.header{
  color: #0FA3B1;
  font-family: 'Khand';
  font-size: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 250px;
  width: 250px; 
  border: .5rem solid #086788; 
  border-radius: 50%;
}
.div{
  height: 200px;
  width: 200px;
  border: .5rem solid #086788; 
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.titles {
  color: #086788;
  font-family: 'Khand';
  text-decoration-line: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.body {
  color: #FCFAFA;
  font-family: 'Khand';
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;

}