{% extends 'base.html' %}
{% block content %}
<div class="container">
{% for note in notes %}


  <!-- </thread> -->
  <div class="div">
  <a href="{% url 'notes-detail' note.pk %}">
  
    <h4 class="titles">
    {{note.title}}
    </h4>
    <p class="timestamp">
      {{note.created_at}}
    </p>
  
    <p class="body">
    {{note.body | truncatewords:4}}
    </p>
    <a href="{% url 'edit_note' note.pk %}"><button class="button">
      Edit Note
    </button></a>
  
 
  </div>
  {% endfor %} 
</div>
  {% endblock %}

<!-- <a href="{% url 'notes.detail' 1 %}"> -->

  <!-- <a href="{% url 'notes.' %}"></a> -->