<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <!-- <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css"> -->
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Hind+Guntur|Mitr&display=swap" rel="stylesheet">
  {% block title %}<title>Document</title>{% endblock %}
</head>
<body>
  <div class="header">
    <h2>This is a header</h2>
  </div>
    {% block content %} {% endblock %}
</body>
</html>



<!-- <h2>NOTES</h2>

{% for note in notes.values %}

<h3>{{note.title}}</h3>

{% endfor %} -->